.event {
	max-width: 50rem;
	margin: 2rem auto;
	text-align: center;
}

.event img {
	width: 30rem;
	border-radius: 4px;
}

.actions {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}

.actions a,
.actions button {
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	cursor: pointer;
	border-radius: 4px;

	transition: all 150ms ease-out;
}

.actions a:hover,
.actions button:hover {
	/* opacity: 0.7; */
	background-color: var(--color-gray-700);
}

.actions button {
	background-color: transparent;
	border: none;
	color: var(--color-primary-800);
}
