* {
	box-sizing: border-box;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-gray-100: #f4f3f1;
	--color-gray-200: #dddbd8;
	--color-gray-300: #ccc9c6;
	--color-gray-400: #aeaba7;
	--color-gray-500: #8a8784;
	--color-gray-600: #656360;
	--color-gray-700: #4b4a47;
	--color-gray-800: #31302e;
	--color-gray-900: #1f1d1b;

	/* --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b; */

	--color-primary-100: #b1e7fb;
	--color-primary-200: #9ee1fa;
	--color-primary-300: #8bdcf9;
	--color-primary-400: #77d6f8;
	--color-primary-500: #64d0f7;
	--color-primary-600: #51caf6;
	--color-primary-700: #3dc4f5;
	--color-primary-800: #2abef4;
	--color-primary-900: #16b8f3;
}

body {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 4px;
	background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px var(--color-gray-700);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-primary-400);
	border-radius: 4px;
	cursor: grab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-600);
}
